# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/        # Next.js statik dışa aktarım klasörü (Gerekli değil)
/out
.next

# production (Next.js'te .next klasörünün içeriği build'i temsil eder)
/build       # Eğer farklı bir build klasörü kullanıyorsanız kalsın.

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (Çok Önemli Güvenlik Ayarı)
.env*
!**/.env.development
!**/.env.staging
!**/.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
# next-env.d.ts (Genellikle gerekli olduğu için YORUM SATIRI yaptım)
# next-env.d.ts

# Ek Next.js Cache ve Log Dosyaları
.next-env.local
.next-env.production
.next-env.development